# Virtual environment
.venv/
env/

# PyCharm
.idea/

# Data files (don't commit large datasets)
data/raw/*.csv
data/processed/*.csv
*.db

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so

# Jupyter Notebooks (if you add them later)
.ipynb_checkpoints

# Environment variables
.env

# OS
.DS_Store
Thumbs.db


01_data_exploration.ipynb
